{
    "_HWname": [
        "module path",
        "class name or fn entry point",
        "dispatch fn or null if direct call"
    ],
    "superkClass": [
        "SuperK.superkClass",
        "superk",
        null
    ],
    "WinSpecClass": [
        "WinSpec.WinSpecClass",
        "WinSpec",
        "dispatch"
    ]
}